[submodule "ext/openwrt"]
	path = ext/openwrt
	url = https://github.com/openwrt/openwrt.git
[submodule "yiot/security/yiot"]
	path = yiot/security/yiot
	url = https://github.com/YIoT-team/yiot-openwrt.git
[submodule "yiot/override/security/yiot"]
	path = yiot/override/security/yiot
	url = https://github.com/YIoT-team/yiot-openwrt.git
