build-*/**
.idea
Dockerfile
ovtmp_*
ci/docker/dockerfiles/flutter
ci/docker/flutter_linux_3.3.10-stable.tar.xz
.prepared
.source_dir
.quilt*
.built*
.configured*
.go_work
pubspec.lock
*.o

yiot/override/feeds/luci/modules/luci-base/src/jsmin
yiot/override/feeds/luci/modules/luci-base/src/contrib/lemon
yiot/override/feeds/luci/modules/luci-base/src/plural_formula.*
yiot/override/feeds/luci/modules/luci-base/src/po2lmo

yiot/override/package/yiot/protocols-processor/src/.pkgdir
yiot/override/package/yiot/protocols-processor/src/ipkg-*
yiot/override/package/yiot/backend/src/ipkg-*
yiot/override/package/yiot/backend/src/.pkgdir